<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/about.css">
</head>
<body>
{{> header }}
<br>
<p>
My name is <span class = 'special-name'>{{name}}</span> and I am a Software Engineer.
</p>
<p>
I am fascinated by the effect of technology on language, especially with respect to the words we use and how we come to learn them. 
</p>
<p>
This site is intended to display particularly peculiar words I come across while reading fiction and non-fiction. Typically, if I find a fun word, I'll jot it on the inside cover of the book. But I rarely go back through this list when I'm finished reading, so these uncovered expressions go by the wayside. This site provides to document these terms while also sharpening my programming skills. Eventually, I hope to leverage my list in a digital project, perhaps exploring the rhetorical and narrative situations that writers employ choice words. First, though, I think filtering and visualizations would be a logical next step.
</p>
<p>
This site was developed with <a href = "https://nodejs.org/en/">Node.JS</a> and stores its data in a <a href ="https://www.mongodb.com/">MongoDB</a> NoSQL database. The front-end code is templated in <a href ="https://handlebarsjs.com/">Handlebars</a>, and I used <a href="https://getbootstrap.com/">Boostrap</a> to decorate and design elements. The website is deployed on <a href="https://heroku.com">Heroku</a> with a (free!) TLS certificate from <a href="https://www.cloudflare.com/">Cloudflare</a>. My work is published on <a href="https://www.npmjs.com/package/logomancer">npm</a>. I originally intended to deploy my app using Amazon's cloud suite but reconciling EC2 and Mongo proved quite cumbersome. Heroku poses a quick and simple alternative, and I love the built in git hooks!
</p>
<p>
The full repository for this project can be found on my <a href="https://github.com/timschott/logomancer">Github</a>. You'll note that the repo is named logomanc<i>er</i> ... that's because I broke my original domain name beyond repair trying to wade through AWS Route53 and EC2. I like the gerund, though. It's an active world! Definitions are from the <a href="https://www.oed.com">OED</a> whenever possible</a>. Please let me know if you see any typos, have suggestions, etc. - drop me an  <a href="mailto:timcschott@gmail.com"> email</a>.
</p>

</body>
</html>