<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/about.css">
</head>
<body>
{{> header }}
<h2>About</h2>
<p>
My name is <span class = 'special-name'>{{name}}</span> and I am a Software Engineer.
</p>
<p>
I am fascinated by the effect of technology on language, especially with respect to the words we use and how we come to learn them. Do screens change our recall ability? 
</p>
<p>
This site is intended to display particularly peculiar words I come across while reading fiction and non-fiction. Typically, if I find a fun word, I'll jot it on the inside cover of the book. But I rarely go back through this list when I'm finished reading, so tons of discovered expressions go by the wayside. This site provides a platform for me to document these terms while also sharpening my development skills.
</p>
<p>
This site was developed with NodeJS and a MongoDB database. The front-end code is templated in Handlebars and I used boostrap to help decorate and place design elements. The website is deployed on AWS. 
</p>
<p>
The full repository for this project can be found here.
</p>


{{> footer}}
</body>
</html>