<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/about.css">
</head>
<body>
{{> header }}
{{> nav }}
<h2>About</h2>
<p>
My name is <span class = 'special-name'>{{name}}</div>
</p>
<p>
This site is intended to display particularly peculiar words I come across while reading fiction and non-fiction. 
</p>
</body>
</html>