<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/home.css">
</head>
{{> header }}
<body>

<p>Logomancing is the act of discovering, documenting and describing unique, overlooked words.</p>
<p>&ldquo;He mimed and mocked me. His allusions were definitely highbrow. He was well-read. He knew French. He was versed in logodaedaly and logomancy.&rdquo;
<br>&#8212; <i>Vladimir Nabokov</i></p>
<p>This website displays <i>mot-trouvé</i>&nbsp; from books I've read. You can look at them <a href="/words">here.</p>

</body>
{{> footer }}

</html>