<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/home.css">
</head>
{{> header }}
<body>
<br>
<p><span class = 'special-name'>Logomancing</span> is the act of discovering, documenting and describing unique, overlooked words.</p>
<p>&ldquo;He mimed and mocked me. His allusions were definitely highbrow. He was well-read. He knew French. He was versed in logodaedaly and <span class = 'special-name'>logomancy</span>.&rdquo;
<br>&#8212; <i>Vladimir Nabokov</i></p>
<p>This website displays my collection of <i>mot-trouvé</i>&nbsp;. At the moment, there are <span class = 'special-name'>{{ word_total }}</span> entries from <span class = 'special-name'>{{ book_total }}</span> different books.</p>
<p style="text-align:center">You can look at them <a href="/words">here.</a></p>

</body>
{{> footer }}

</html>