<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/home.css">
</head>
<body>
{{> header }}
{{> nav}}
    <h2>HELLO WORLD</h2>
{{ body }}

</body>
</html>