<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
</head>
{{> header }}
<body>

<h2>Welcome to Logomancer.</h2>
<p>{{ body }}</p>

</body>
{{> footer }}

</html>