<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>About</title>
      <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
   </head>
   <body>
      {{> header }}
      {{> nav }}
      <h2>Test</h2>
      <p>
         This is a test.
      </p>
      <!-- bootstrap form -->
      <form action="/quotes" method="post" class="form-quote-collection">
        <div class="row">
            <div class="form-group col-lg-2">
  			<label for="book"  class="sr-only">Book</label>
                <input type="text" id="book" name="book" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6 ">
                <label for="code" class="sr-only">Quote</label>
                <input type="text" id="quote" name="quote" class="form-control" />
            </div>
        </div>
  		<button type="submit" class="btn btn-primary mb-2">Submit</button>
   </body>
</html>