<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Words</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/about.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/words.css">
    <script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>
</head>

<body>
    {{> header }}
    <br>
    <div class="row">
        <div class="col-xs-2 col-md-3">
            <div class="list-group text-center" id="myList" role="tablist">
                {{#each words}} {{#getKey this.word}} {{/getKey}} {{/each}}
            </div>
        </div>
        <div class="col-xs-10 col-md-9">
            <div class="tab-content">
                {{#each words}} {{#getDescription this.book this.author this.word this.sentence this.definition this.page}} {{/getDescription}} {{/each}}
            </div>
        </div>
    </div>
</body>
<script>
    $('#myList a').on('click', function(e) {
e.preventDefault();
$(this).tab('show');
var theThis = $(this);
$('#myList a').removeClass('active');
theThis.addClass('active');
});
</script>

</html>