<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/global.css">
</head>
<div class="fixed-bottom">
<div class="container">
  <div class="row justify-content-center">
        <div class="github">
            <a href="https://www.github.com/timschott"><i id="social-gh" class="fa fa-github-square fa-2x social"></i></a>
        </div>
        <div class="twitter">
            <a href="https://twitter.com/bigschottt"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
        </div>
        <div class="linkedin">
            <a href="https://linkedin.com/in/timothy-schott"><i id="social-li" class="fa fa-linkedin-square fa-2x social"></i></a>
        </div>
        <div class="email">
            <a href="mailto:timcschott@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
        </div>
        </div>
</div>
</div>

</html>